---
title: Технологии успеха
---
extends layouts/_layout

block content
	//begin screen
	+b.SECTION.screen._nosld
		+e.pic._nosld(style="background-image: url(img/bg/screen_bg.jpg)")
		+e.container.container
				+e.text
					+e.H2.title.title-lg ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ СДЕЛОК С НЕДВИЖИМОСТЬЮ
					+e.P.descr Оставьте заявку и получите консультацию профессионального юриста
						= ' '
						+e.STRONG БЕСПЛАТНО
				+b.advice._screen
					+e.FORM(action='#!').form
						+e.form-inn
							+e.form-field
								+e.INPUT.input.input(type='text' placeholder='Имя*' name='')
							+e.form-field
								+e.INPUT.input.input(type='tel' placeholder='Телефон*' name='')
							+e.form-field
								+e.BUTTON(type='submit').btn.btn Получить консультацию
		+e.icon

	// end screen

	include components/_dispute

	//begin escort
	+b.SECTION.law-escort
		+b.section-icon
			+e.pic._university
		+e.container.container
			+b.H2.title-md Юридическое сопровождение сделок с недвижимостью
			+e.in
				+e.pic
					+e.IMG(src='img/content/escort_img.jpg').img
				+e.descr
					+e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.
					+e.P.text Pellentesquearcu mauris, malesuada quis ornare accumsan, blandit sed diam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus.
					+e.P.text._hidden Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.
					+e.BUTTON(type='button').more-btn.js-more-text Развернуть весь текст

			+b.SECTION.benefits
				+e.H2.title.title-md.title-decor
					+e.SPAN 5 причин работать с нами
				+e.inn
					+e.item
						+e.P.descr Индивидуальный подход
					+e.item
						+e.P.descr Гарантия результата
					+e.item
						+e.P.descr Экономия средств и времени
					+e.item
						+e.P.descr Квалифицированные специалисты
					+e.item
						+e.P.descr Бесплатная консультация

	//end escort

	//begin deal
	+b.SECTION.deal
		+e.container.container
			+e.in
				+e.title.title-lg СОБИРАЕТЕСЬ ПРОВЕСТИ СДЕЛКУ С НЕДВИЖИМОСТЬЮ, НО НЕ ЗНАЕТЕ, КАК ГРАМОТНО ОЦЕНИТЬ ВСЕ РИСКИ?
				+e.descr ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ ПРЯМО СЕЙЧАС
				+b.advice.deal__advice
					+e.FORM(action='#!').form
						+e.form-inn
							+e.form-field
								+e.INPUT.input.input(type='text' placeholder='Имя*' name='')
							+e.form-field
								+e.INPUT.input.input(type='tel' placeholder='Телефон*' name='')
							+e.form-field
								+e.BUTTON(type='submit').btn.btn Получить консультацию

			+e.picture
				+e.IMG(src='img/bg/real-estate_bg.png').img
	//end

	//begin serv-escort
	+b.SECTION.serv-escort
		+b.section-icon
			+e.pic._file
		+e.container.container
			+b.H2.title-md Услуги по сопровождению сделки
			+e.in
				+e.item
					+e.pic._1
					+e.text Выезд нашего юриста для переговоров с покупателем или продавцом, чтобы минимизировать возможные риски при составлении и заключении договора
				+e.item
					+e.pic._2
					+e.text Помощь в грамотном составлении договора купли-продажи между покупателем и продавцом. Исключение возможных рисков и двоякой трактовки договора
				+e.item
					+e.pic._3
					+e.text Помощь в согласовании всех условий купли-продажи с банком, полное ведение документации для получения ипотеки (если она предусматривается) или выплаты по ней
				+e.item
					+e.pic._4
					+e.text Регистрация сделки нашими юристами, сопровождение денежного расчета между обеими сторонами
				+e.item
					+e.pic._5
					+e.text Обеспечиваем своевременный сбор всех справок и документов на собственность.
				+e.item
					+e.pic._6
					+e.text Контролируем получение ключей от купленной недвижимости или получение денег за проданную собственность
		//end serv-escort
		//begin docs
		+b.docs
			+e.container.container
				+b.title-md.title-decor
					+e.SPAN Какие документы нужны
				+e.in
					+e.item
						+e.item-title Общий набор документов
						+e.UL.list
							+e.list-text
								+e.SPAN копия свидетельства покупаемого объекта недвижимости;
							+e.list-text
								+e.SPAN копия паспортов покупателей;
							+e.list-text
								+e.SPAN копия паспортов продавцов.
					+e.item
						+e.item-title В случае ипотеки или материнского капитала
						+e.UL.list
							+e.list-text
								+e.SPAN кредитный договор или сертификат материнского капитала;
							+e.list-text
								+e.SPAN график погашения кредита;
							+e.list-text
								+e.SPAN номер счета продавца, куда будут перечислены денежные средства.
		//end docs
	include components/_order
	//begin feed
	+b.SECTION.feed
		+b.section-icon
			+e.pic._feed
		+e.container.container
			+b.H2.title-md Отзывы о нашей работе
			+e.slider.js-feed-slider.js-img-preview
				+e.A(href='img/content/feed_img-1.jpg' data-fancybox="feed").pic
					+e.IMG(src='img/content/feed_thumbnail.jpg' alt='img').img
					+e.DIV.controls
						+icon('icon-zoom')
				+e.A(href='img/content/feed_img-2.jpg' data-fancybox="feed").pic
					+e.IMG(src='img/content/feed_thumbnail.jpg' alt='img').img
					+e.DIV.controls
						+icon('icon-zoom')
				+e.A(href='img/content/feed_img-1.jpg' data-fancybox="feed").pic
					+e.IMG(src='img/content/feed_thumbnail.jpg' alt='img').img
					+e.DIV.controls
						+icon('icon-zoom')
				+e.A(href='img/content/feed_img-2.jpg' data-fancybox="feed").pic
					+e.IMG(src='img/content/feed_thumbnail.jpg' alt='img').img
					+e.DIV.controls
						+icon('icon-zoom')
				+e.A(href='img/content/feed_img-1.jpg' data-fancybox="feed").pic
					+e.IMG(src='img/content/feed_thumbnail.jpg' alt='img').img
					+e.DIV.controls
						+icon('icon-zoom')
				+e.A(href='img/content/feed_img-2.jpg' data-fancybox="feed").pic
					+e.IMG(src='img/content/feed_thumbnail.jpg' alt='img').img
					+e.DIV.controls
						+icon('icon-zoom')
				+e.A(href='img/content/feed_img-2.jpg' data-fancybox="feed").pic
					+e.IMG(src='img/content/feed_thumbnail.jpg' alt='img').img
					+e.DIV.controls
						+icon('icon-zoom')
				+e.A(href='img/content/feed_img-2.jpg' data-fancybox="feed").pic
					+e.IMG(src='img/content/feed_thumbnail.jpg' alt='img').img
					+e.DIV.controls
						+icon('icon-zoom')
	//end feed
	//begin ask
	+b.ask
		+b.section-icon
			+e.pic._question
		+e.container.container
			+e.title.title-md У вас остались вопросы? Звоните прямо сейчас
			+e.in
				+e.A(href='tel:78461234567').phone +7 (846) 123-45-67
				+e.descr или оставьте заявку и мы сами вам перезвоним
			+b.advice.ask__advice
				+e.FORM(action='#!').form
					+e.form-inn
						+e.form-field
							+e.INPUT.input.input(type='text' placeholder='Имя*' name='')
						+e.form-field
							+e.INPUT.input.input(type='tel' placeholder='Телефон*' name='')
						+e.form-field
							+e.BUTTON(type='submit').btn.btn Получить консультацию
	//end ask
	//begin location
	+b.last-screen.section
		+b.SECTION.location
			+e.label
				+b.section-icon
					+e.pic._location
				+e.title.title-md МЫ РАСПОЛОЖЕНЫ:
			+e.map-wrap
				+e.map#js-home-map
	//end location